@import "@pagefind/component-ui/css" layer(pagefind);

:root {
	--pf-text-muted: var(--color-global-text);
	--pf-background: var(--color-global-bg);
	--pf-border-focus: var(--color-accent-2);
	--pf-outline-focus: var(--color-accent);
	--pf-outline-offset: none;
	--pf-font: var(--font-mono);
	--pf-text: var(--color-global-text);
	--pf-text-secondary: var(--color-muted);
	--pf-skeleton: var(--color-global-bg);
}

.pf-trigger-btn {
	--pf-background: #0000;
	--pf-border-focus: #0000;
	--pf-hover: var(--color-accent);
	padding: 8px;
	accent-color: var(--color-accent);
	border: 0;
	border-radius: 0;

	&:hover {
		@media (hover: hover) {
			--pf-text-muted: var(--color-accent);
			color: var(--color-accent);
		}
	}
	&:focus-visible {
		outline: auto;
	}

	.pf-trigger-icon {
		width: 24px;
		height: 24px;
	}
}

dialog.pf-modal::backdrop {
	backdrop-filter: blur(8px);
}

.pf-modal-body {
	--pf-hover: var(--color-global-bg);

	.pf-result-link,
	.pf-heading-link {
		background-size: 100% 6px;
		background-position: bottom;
		background-repeat: repeat-x;
		background-image: linear-gradient(
			transparent,
			transparent 5px,
			var(--color-global-text) 5px,
			var(--color-global-text)
		);

		&:hover {
			text-decoration: none;
			background-image: linear-gradient(
				transparent,
				transparent 4px,
				var(--color-link) 4px,
				var(--color-link)
			);
		}
	}

	.pf-heading-link {
		align-self: flex-start;
	}

	.pf-heading-excerpt {
		mark {
			--pf-mark: var(--color-accent-2);
			font-weight: var(--font-weight-semibold);
		}
	}
}

.pf-keyboard-hints {
	kbd {
		color: var(--color-zinc-800);
	}
}
