@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 24 9.8% 10%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;
		--ring: 20 14.3% 4.1%;

		--radius: 0.5rem;
	}

	* {
		@apply border-gray-300;
	}

	.border-border {
		border-color: var(--border);
	}

	body {
		@apply bg-background text-foreground;
	}
	.text-foreground {
		color: var(--foreground);
	}
	.bg-background {
		background-color: var(--background);
	}
}

@layer components {
	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;

		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;

		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;

		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;

		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;

		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;

		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
	}
}

html {
	@apply scroll-smooth;
}

body {
	@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor/10 px-6 pt-16 font-mono text-sm font-normal antialiased;
}