@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #fafafa;
		--theme-link: #567c77;
		--theme-text: #22272a;
		--theme-accent: #cc2a42;
		--theme-accent-2: #111;
		--theme-quote: #cc2a42;
		--theme-menu-bg: rgb(250 250 250 / 0.85);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #1d1f21;
		--theme-link: #d480aa;
		--theme-text: #c9cacc;
		--theme-accent: #2bbc89;
		--theme-accent-2: #eee;
		--theme-quote: #ccffb6;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
	}

	html {
		@apply h-full border-t-2 border-textColor scroll-smooth;
	}

	html body {
		@apply h-full max-w-3xl mx-auto px-8 pt-16 font-mono font-normal antialiased text-sm flex flex-col text-textColor bg-bgColor;
	}
}
@tailwind components;
@tailwind utilities;
