/* would like to ignore ./src/pages/og-image/[slug].png.ts */
@import "tailwindcss";
/* config for tailwindcss-typography plugin */
@config "../../tailwind.config.ts";

/* use a selector-based strategy for dark mode */
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--color-bgColor: oklch(98.48% 0 0);
	--color-link: oklch(55.44% 0.0431 185.69);
	--color-textColor: oklch(26.99% 0.0096 235.05);
	--color-accent: oklch(55.27% 0.195 19.06);
	--color-accent-2: oklch(18.15% 0 0);
	--color-quote: oklch(55.27% 0.195 19.06);
}

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--color-bgColor: oklch(23.64% 0.0045 248);
		--color-link: oklch(70.44% 0.1133 349);
		--color-textColor: oklch(83.54% 0 264);
		--color-accent: oklch(70.91% 0.1415 163.7);
		--color-accent-2: oklch(94.66% 0 0);
		--color-quote: oklch(94.8% 0.106 136.49);
	}
}

@layer components {
	.cactus-link {
		@apply hover:decoration-link underline underline-offset-2 hover:decoration-2;
	}

	.title {
		@apply text-accent-2 text-2xl font-semibold;
	}
}
