---
import { Icon } from "astro-icon";

/** 
	Uses https://github.com/natemoo-re/astro-icon#readme
	Find icons @ https://icones.js.org/
*/
const socialLinks = [
	{
		name: "mdi:github",
		friendlyName: "Github",
		link: "https://github.com/navidev0",
	},
	{
		name: "mdi:linkedin",
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/juandnarvaez/",
	},
	{
		name: "mdi:twitter",
		friendlyName: "Twitter",
		link: "https://twitter.com/navidev0",
	},
	{
		name: "mdi:email",
		friendlyName: "email",
		link: "mailto:juand.dev0@gmai.com",
	},
];
---

<div class="my-4 flex flex-wrap items-end gap-x-4">
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ link, name, friendlyName }) => {
				const isEmail = name.includes("email") || friendlyName.toLowerCase().includes("email");
				return (
					<li class="flex">
						<a
							class="inline-block p-1 sm:hover:text-link"
							href={link}
							target="_blank"
							rel={`noopener noreferrer me ${isEmail ? "authn" : ""}`}
						>
							<Icon class="h-6 w-6" name={name} aria-hidden="true" focusable="false" />
							<span class="sr-only">{friendlyName}</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</div>
