---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/utils";
	let headerEl: HTMLElement;
	let menuButtonEl: HTMLButtonElement;
	let menuOpen = false;

	function toggleMobileMenu() {
		toggleClass(headerEl, "menu-open");
		menuOpen = !menuOpen;
		menuButtonEl.setAttribute("aria-expanded", menuOpen.toString());
	}

	document.addEventListener("DOMContentLoaded", () => {
		headerEl = document.getElementById("main-header")!;
		menuButtonEl = document.getElementById("toggle-navigation-menu") as HTMLButtonElement;
		menuButtonEl.addEventListener("click", toggleMobileMenu);
	});

	document.addEventListener("astro:after-swap", () => {
		if (menuOpen) toggleMobileMenu();
	});
</script>

<header
	id="main-header"
	class="group relative mb-28 flex items-center sm:ps-[4.5rem]"
	transition:persist
>
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				class="me-3 h-10 w-9 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-11 sm:w-11"
				aria-hidden="true"
				focusable="false"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 26 26"
			>
				<title>Juan Narvaez</title>
				<path
					d="M13.325 3.05011L8.66741 20.4323L10.5993 20.9499L15.2568 3.56775L13.325 3.05011Z"
					fill="#0ead69ff"></path><path
					d="M7.61197 18.3608L8.97136 16.9124L8.97086 16.8933L3.87657 12.1121L8.66699 7.00798L7.20868 5.63928L1.04956 12.2017L7.61197 18.3608Z"
					fill="#0ead69ff"></path><path
					d="M16.388 18.3608L15.0286 16.9124L15.0291 16.8933L20.1234 12.1121L15.333 7.00798L16.7913 5.63928L22.9504 12.2017L16.388 18.3608Z"
					fill="#0ead69ff"></path>
			</svg>
			<!-- <span class="text-xl font-bold sm:text-2xl">Juan Narvaez</span> -->
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-base text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none md:text-lg"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						rel="prefetch"
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
		type="button"
		aria-label="Open main menu"
		aria-expanded="false"
		aria-haspopup="menu"
	>
		<svg
			id="line-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"></path>
		</svg>
		<svg
			id="cross-svg"
			class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
			class="text-accent"
			aria-hidden="true"
			focusable="false"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
</header>
