---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | Oops something went wrong</h1>
	<p class="mb-8">Please use the navigation to find your way back</p>
</PageLayout>
