---
import PageLayout from "@/layouts/Base.astro";
import { t } from "@/i18n";

const meta = {
	description: t.error.description,
	title: t.error.title,
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12" data-i18n="error.heading">{t.error.heading}</h1>
	<p class="mb-8" data-i18n="error.message">{t.error.message}</p>
</PageLayout>
