---
import { Image } from "astro:assets";
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";
import ProfileImage from "@/assets/LandscapeProfile.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<Image
		class="aspect-thumbnail mb-4 rounded-2xl object-cover shadow-xl"
		src={ProfileImage}
		alt="A cartoon cactus looking at the 'Astro.build' logo"
		loading="eager"
		fetchpriority="high"
	/>

	<div>
		<p class="mb-4 font-bold">Henry Ha</p>
		<p class="mb-4 font-bold">Games Programmer</p>
		<p class="mb-4 mr-6">
			I am a games programmer with practical experience in Unity and Unreal Engine. Needless to say,
			I love video games and developing novel experiences. Below, you check out some of my
			favourites, alongside my CV.
		</p>
	</div>
	<SocialList />
</PageLayout>
