---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">عنّي</h1>
		<p>
			أهلًا أنا مبتدئ في (فضاء) آسترو.
		</p>
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>هنا بعض التقنيات التي بُنِيتُ بها:</p>
		<ul class="list-disc list-inside">
			<li>أنا موقع ثابت</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>أدعم الرياح الخلفية</li>
			<li>Shiki code syntax highlighting</li>
		</ul>
		<p>
			انشئ نسخة من
			<a
				class="inline-block cactus-link"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				المستودع
			</a> إن أعجبتُك!
		</p>
	</div>
</PageLayout>
