---
import PageLayout from '@/layouts/Base'
---

<PageLayout title="About" description="Astro Cactus about page">
  <h1 class="text-xl">About</h1>
  <p class="mt-4">Hi, I’m a starter Astro. I’m particularly great for a personal web page with a simple blog.</p>
</PageLayout>