---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortPostsByDate } from "@/utils";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortPostsByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Howdy</h1>
		<p class="mb-4">
			This site houses some of my <a href="/posts" class="cactus-link">learnings</a> and <a
				href="/projects"
				class="cactus-link">projects</a
			> surrounding games development.<br />Or toilet thoughts.
		</p>
		<p class="mb-4">
			If you would like to know more about what I do, check out my <a
				href="/about/"
				class="cactus-link">About</a
			> section.
		</p>
		<p class="mb-4 font-bold">
			Just a notice -- this website is WIP at the moment, so it is a little empty. 🌚
		</p>

		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Recent Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
