---
import PageLayout from '@/layouts/Base';
import BlogPostPreview from '@/components/BlogPostPreview';

let title = 'Asto Cactus';
let description = 'The perfect starter for your perfect blog.';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---
<PageLayout {title} {description}>
	<section>
		<p>Hi, I’m a starter blog for Astro, an example of how you can use this starter to create a personal blog. If you want to know more about how I was created, click on one of the social links which will take you to my repo. Further is a list of example blog posts created with md, and after that a list of technologies I use.</p>
	</section>
	<section aria-label="Blog post list">
		<h2 class="mt-16 text-xl text-primary">Writings</h2>
		{allPosts.map((p) => <BlogPostPreview post={p} />)}
	</section>
	<section>
		<h2 class="mt-16 text-xl text-primary">Technologies</h2>
		<ul>
			<li>Astro</li>
			<li>Tailwind CSS</li>
		</ul>
	</section>
</PageLayout>

