---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import Avatar from "../assets/perfil.jpg";
import ProjectsIndex from "@/components/ProjectsIndex";
import Skills from "@/components/Skills";
import Tools from "@/components/Tools";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div
			class="ms:items-end flex h-auto flex-col-reverse justify-between sm:h-[calc(100vh-3rem)] sm:flex-row md:h-[calc(100vh-18rem)] md:items-center"
		>
			<div class="flex flex-col">
				<h2
					class="mb-1 flex items-center text-lg font-semibold text-gray-700 dark:text-gray-200 md:mb-2 md:text-2xl"
				>
					Hola,
					<img
						class="mx-3 mb-3"
						src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
						alt="hi"
						width="10%"
					/>
					 Soy
				</h2>

				<h1 class="mb-1 text-2xl font-bold tracking-tight text-black dark:text-white md:text-4xl">
					Juan David Narváez
				</h1>
				<h2 class="text-lg font-semibold text-gray-700 dark:text-gray-200 md:text-2xl">
					Full Stack Web Developer
				</h2>
				<SocialList />
			</div>
			<div class="relative mb-6 w-[120px] sm:mb-0 sm:w-[190px]">
				<Image
					alt="Juan Narvaez"
					height={0}
					width={0}
					src={Avatar}
					sizes="50vw"
					class="rounded-full grayscale filter"
				/>
			</div>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl md:text-2xl">Proyectos</h2>
		<ProjectsIndex />
		<p class="mt-5 text-right text-sm">
			<a class="text-primary text-base" href="/works"> ...& mas &rarr;</a>
		</p>
	</section>

	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<div class="mt-10 flex flex-wrap justify-center">
			<Skills />
		</div>
	</section>

	<section class="mt-12">
		<h2 class="title mb-4 text-xl">Herramientas</h2>
		<div class="mt-10 flex flex-wrap justify-center">
			<Tools />
		</div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
