---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import RetroGrid from "@/components/magicui/retro-grid";
import { VelocityScroll } from "@/components/magicui/scroll-based-velocity";

const MAX_POSTS = 10;

const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);


const projectLinks: { desc: string; href: string; title: string }[] = [
	{
        desc: "(build-in-public) iterating on tldraw.com AI canvas",
        href: "https://draw.kvncyf.me",
        title: "draw.kvncyf.me",
    },
	{
        desc: "(soon) a micro-startup studio",
        href: "https://studio.connivence.io",
        title: "studio.connivence.io",
    },
    {
        desc: "(pre-launch) an automated GenAI & tech-related newsletter",
        href: "https://yetAnotherAInewsletter.org",
        title: "yetAnotherAInewsletter.org",
    },
    {
        desc: "(2021-today) an e-commerce multichannel advertising platform",
        href: "https://feedcast.io/",
        title: "feedcast.io",
    },
    {
        desc: "(2020-terminated) CMS, websites & funnels no-code builder",
        href: "https://kaliko.solutions/",
        title: "kaliko.solutions",
    },
	{
        desc: "(2018-today) my growth consulting structure",
        href: "https://connivence.io/",
        title: "connivence.io",
    },
	{
		desc: "(2017-2018) 1st GTM @ gerermaboite.fr [acquired by Cegid]",
		href: "https://www.ccistore.fr/produit/2669984/cegid-gerer-ma-boite",
		title: "cegid.com",
	},
	{
		desc: "(2016-2017) SDR @ wizishop.com",
		href: "https://www.wizishop.com",
		title: "wizishop.com",
	},
	{
		desc:"(2015-2016) SDR @ isendpro.com",
		href: "https://isendpro.com",
		title: "isendpro.com",
	}
];
---

<PageLayout meta={{ title: "Home" }}>

	<section>
		<div class="relative flex h-full w-full max-w-[100%] items-center justify-center overflow-hidden rounded-xl border border-gray-100 dark:border-stone-900 bg-background gap-4 pt-8">
			<div class="flex flex-col w-full max-w-[100%]">
				<h1 class="pointer-events-none z-10 whitespace-pre-wrap bg-gradient-to-b from-[#ffd319] via-[#ff2975] to-[#8c1eff] bg-clip-text text-left text-3xl font-bold leading-none tracking-tighter text-transparent pb-2 md:text-5xl hidden">
					Welcome
				</h1>
				<div class="overflow-hidden max-w-full">
					<VelocityScroll
						client:load
						text="Welcome"
						default_velocity={5}
						className="font-display text-center text-2xl font-bold tracking-[-0.02em] drop-shadow-sm bg-gradient-to-b from-[#ffd319] via-[#ff2975] to-[#8c1eff] bg-clip-text text-transparent md:text-4xl md:leading-[3rem]"
					/>
				</div>
				
				<div class="p-5">
					<p class="mb-4 max-w-full">
						I'm Kevin. 28, eurasian born in south France. Currently based in Paris.
						Tech Worker. Pianist. Happy future husband. Here you'll read about my thoughts, projects, learnings.
					</p>
					<div class="max-w-full">
						<SocialList />
					</div>
				</div>
			</div>
		
			<RetroGrid client:load/>
		</div>
	</section>

	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl hidden">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>



	<section class="mt-16">
		<div class="space-y-6">
			<h2 class="title mb-4 text-xl">Projects</h2>

			<dl class="space-y-4">
				{
					projectLinks.map(({ desc, href, title }) => (
						<div class="flex flex-col gap-2 md:flex-row">
							<dt>
								<span class="flex">
									<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
										{title}
									</a>
									:
								</span>
							</dt>
							<dd>{desc}</dd>
						</div>
					))
				}
			</dl>
			<h2 class="title mb-4 text-xl">Abstract</h2>

			<p>
				Studied french literature and used to love philosophy. I wanted to do politics but growing up I needed money so I took my first corporate job at a SaaS company.
			</p>
			<p>
				SaaS (Software-as-a-service) is a scrappy, ever-expanding market which is also an expected <a class="cactus-link" href="https://www.statista.com/statistics/505243/worldwide-software-as-a-service-revenue/" target="_blank" rel="noopener noreferrer">$230 billions-sized industry</a> by the end of 2024.
			</p>
			<p>
				Involved into SaaS companies since 2016. I started as a sales, then I fell into marketing. Switched to product management. Now actively learning code.
			</p>
			<p>
				Currently working as a Growth Product Manager & GTM @feedcast.io, an e-commerce multichannel advertising platform + doing occasional consulting missions in various fields including but not limited to:
			</p>
			<ul>
				<li>- Go-to-market Strategies</li>
				<li>- Growth / Marketing Automation</li>
				<li>- CRM Management / Custom Setups</li>
				<li>- Internal Teams Alignement</li>
				<li>- Business Automation Workflows</li>
				<li>- Product Management, UI/UX Design</li>
				<li>- GenAI Consulting & Engineering</li>
			</ul>
			<p>
				During 2020's lockdown, I started playing with GPT-3 models. In November 2022, ChatGPT made GenAI a mainstream thing. Starting 2023, I slowly became obsessed with migrating my day-to-day automation workflows (<a class="cactus-link" href="http://zapier.com" target="_blank" rel="noopener noreferrer">zapier.com</a>, <a class="cactus-link" href="http://make.com" target="_blank" rel="noopener noreferrer">make.com</a>, <a class="cactus-link" href="http://n8n.com" target="_blank" rel="noopener noreferrer">n8n.com</a>) to GenAI agents.
			</p>
			<p>
				Since then… <a class="cactus-link" href="https://www.theverge.com/2023/11/6/23948386/chatgpt-active-user-count-openai-developer-conference" target="_blank" rel="noopener noreferrer">ChatGPT peaked at 100M users in just 2 months.</a> Never-ending projects releases every day. Big-whales chasing AGI. Open-source LLMs developers offered free AI to the world. Software was supposed to eat the world but it turns out <a href="https://www.forbes.com/sites/cognitiveworld/2019/08/29/software-ate-the-world-now-ai-is-eating-software/" target="_blank" rel="noopener noreferrer">AI is slowly eating software</a>.
			</p>
			<p>
				Today I'm truly convinced that we're living a major shift which is probably at least as big as the internet creation. So like every tech-aficionados I started…
			</p>
			<h2 class="title mb-4 text-xl">Documenting my journey:</h2>
			<ul>
				<li>- Here at <a class="cactus-link" href="kvncyf.me">kvncyf.me</a></li>
				<li>- Occasionally on <a class="cactus-link" href="https://twitter.com/kvncyf_" target="_blank" rel="noopener noreferrer">X/Twitter</a></li>
				<li>- (soon) on a Youtube channel</li>
			</ul>
			<p class="mt-4">
				For work inquiries, feel free to email me at <a href="mailto:kvncyf@icloud.com"><u>kvncyf@icloud.com</u></a>.
			</p>
			<div class="border border-gray-100 dark:border-stone-900 shadow-sm p-0 rounded-xl overflow-hidden">
				<img src="/young-man-under-the-moon.png" alt="Midjourney – 'young man standing beneath the moon --sref 3136260955 --stylize 300'" />
			</div>
		</div>
	</section>
</PageLayout>
