---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Astro Cactus",
	description: "The perfect starter for your perfect blog.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">مرحبًا مرحبًا!</h1>
		<p class="mb-4">
			أهلا، أنا نمط من أنماط فضاء، ومثال على كيفية استعمالك هذا النمط ابتداءً, I’m a theme for Astro, an example of how you can use this starter to
			create a personal blog. If you want to know more about how you can
			customise me, add more posts, and make it your own, click on one of the
			social links which will take you to my repo.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">المنشورات</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">التقنيات</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>فضاء
				</a>:
				<p class="inline-block sm:mt-2">ابنِ صفحات سريعة، بل الأسرع!</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>@فضاء/صور
				</a>:
				<p class="inline-block sm:mt-2">
					إضافة فضائية لدعم الصور.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>الرياح الخلفية CSS
				</a>:
				<p class="inline-block sm:mt-2">
					صفحات وتصاميم حديثة.
				</p>
			</li>
			<li>
				<a
					href="https://mdxjs.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>إم دي إكس
				</a>:
				<p class="inline-block sm:mt-2">مارك داونMarkdown for the component era.</p>
			</li>
		</ul>
	</section>
</PageLayout>
