---
import PageLayout from "@/layouts/Base";
import ProjectsPage from "@/components/ProjectsPage";

const meta = {
	title: "Proyectos",
	description: "Trabajos realizados",
};
---

<PageLayout meta={meta}>
	<h2 class="title mb-8 text-xl md:text-2xl">Proyectos</h2>
	<p class="text-lg font-semibold">
		Conoce alguno de los proyectos más destacados en los que he trabajado como diseñador web
		freelance.
	</p>
	<ProjectsPage />
</PageLayout>
