.header {
	@apply fixed right-0 z-50 grid grid-cols-[repeat(2,min-content)] grid-rows-2 items-start pr-2 top-12 sm:pr-16;
}

.nav {
	@apply flex flex-col row-span-full col-span-full;
}

.nav_pages {
	@apply flex pr-7 font-thin divide-x divide-primary divide-dotted text-primary;
}

.nav_pages__a {
	@apply px-4 hover:underline;
}

.nav_blog {
	@apply relative self-end hidden mt-8 sm:block space-x-3;
}

.nav_blog__a {
	@apply inline-block hover:text-secondary;
}

.nav_blog__a::before {
	@apply absolute top-0 mt-1 right-0 z-50 invisible mr-16 italic text-right opacity-0 text-xs whitespace-nowrap;
	content: attr(data-tooltip);
	transform: translateX(-45%);
	transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}

.nav_blog__a:hover::before {
	@apply visible block opacity-100;
}

.nav_blog__a__svg {
	@apply w-6 h-6;
}

.nav_toc {
	@apply hidden mt-4 text-right space-y-2 text-xs max-w-xs md:block;
}

.nav_toc__a {
	@apply hover:text-secondary;
}

.header__button {
	@apply row-start-1 col-start-2 hover:text-primary outline-none;
}
