<header class="fixed right-0">
	<nav
		role="navigation"
		class="flex divide-x divide-primary divide-dotted text-primary"
	>
		<a href="/" class="px-4">Home</a>
		<a href="/about" class="px-4">About</a>
		<a href="/posts" class="px-4">Writings</a>
	</nav>
</header>
