---
import Header from './Header.astro';
import TOCLink from './TOCLink'

export interface Props {
  headers: any;
}

const { headers } = Astro.props as Props;
---


<Header isBlog>
  <Fragment slot="blog">
    <span
      class="w-full mt-8 font-semibold text-right border-b border-dotted border-textColor md:w-1/2 text-textColor">On
      this
      page</span>
    <ul class="mt-4 text-xs text-right space-y-2">
      {headers.map(({ slug, text }) => (
      <li>
        <TOCLink client:idle {slug} {text} />
      </li>
      ))}
    </ul>
  </Fragment>
</Header>