---
	const year = new Date().getFullYear();
---

<footer>
	<div>
		Copyright &copy; {year}
		<span aria-label="rocket emoji">🚀</span>
		Astro Cactus
	</div>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/posts">Writings</a>
	</nav>
</footer>

<style>
	footer {
		@apply flex flex-col items-center justify-center w-full mt-auto pt-16 pb-4 text-xs text-center align-top text-gray-500 md:flex-row md:justify-between;

		>div {
			@apply mr-0 md:mr-4;
		}

		nav {
			@apply flex divide-x divide-gray-500;

			a {
				@apply px-2 hover:underline;
			}
		}
	}
</style>