---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<aside class="sticky top-20 order-2 -me-32 hidden basis-64 lg:block">
	<h2 class="title text-lg">Table of Contents</h2>
	<ul class="mt-4 text-xs">
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</aside>
